
body {
    font-family: Arial, Helvetica, sans-serif;
}

table.border {
    margin: 1em;
    border: solid 1px #00293D;
    border-collapse: collapse;
}

table.border tr {
    border: solid 1px #00293D;
    height: 50px;
}
table.border td {
    border: solid 1px #00293D;
    text-align: center;
    text-wrap-mode: nowrap;
}

table.border th {
    border: solid 1px #00293D;
    background-color: #FA6432;
    padding: 5px;
    text-align: center;
    color: white;
}
.rowheader {
    background-color: #009cab;
    width: 75px;
    color: white;
    font-weight: bold;
}